@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fade-in {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animate {
  background: linear-gradient(
    to right,
    rgba(250, 204, 21, 0.15),
    rgba(250, 204, 21, 0.75),
    rgba(250, 204, 21, 0.15)
  );

  background-size: 200% 200%;
  animation: fade-in 4s linear infinite;
}
