@import "tailwindcss";

@keyframes fade-in {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animate {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    oklch(75% 0.183 55.934),
    rgba(255, 255, 255, 0.3)
  );

  background-size: 200% 200%;
  animation: fade-in 4s linear infinite;
}
